{% extends 'all-social/base.html' %}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">
    {% for post in all_posts %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <h2 class="text-center">{{ post.title}}</h2>
        </div>

        <!-- Display post image-->
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <img src="{{post.post_image.url}}" class="img-responsive" alt="Image">
        </div>
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center"> There are no posts</h2>
    </div>
    {% endfor %}
    
</div>


<div class="container-fluid">

    <form  action="{%url 'main_page'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form postForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
    
    {% endblock %}